*{
margin: 0%;
padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
::-webkit-scrollbar {
width: 5px;
margin-left: 5px;
margin-top: 5px;
/* Largura da barra de rolagem */
cursor: pointer;
}
::-webkit-scrollbar-thumb {
margin-left: 3px;
background-color: rgb(255, 253, 253);
/* Cor do polegar da barra de rolagem */
margin-top: 5px;
border-radius: 5px;
cursor: pointer;
}
:-webkit-scrollbar-track {
/* Cor da trilha da barra de rolagem */
margin-top: 5px;
border-radius: 7 rgb(177, 175, 175);
background-color: rgb(255, 255, 255);
border-radius: 5px;
cursor: pointer;
}
body {
font-family: 'Poppins', sans-serif;
margin: auto;
width: 100%;
background-color: rgb(241, 241, 241)
}
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1600px;
width: 100%;
background-color: rgb(241, 241, 241);
box-shadow: 0px 3px 7px rgba(116, 116, 116, 0);
}
#headerFlex{
margin: auto;
width: 100%;
}
#bannerUm {
margin: auto;
width: 100%;
max-width: 1680px;
display: flex;
justify-content: center;
align-items: center;
height: 350px;
background-color:  rgb(255, 255, 255);
}
#imgHeader, #imgDoisHeader{
margin: auto;
width: 100%;
border: 0cap;
}
#bannerUm img{
height: 100%;
min-height: 300px;
}
#bannerUm #imgDoisHeader{
display: none;
height: 100%;
min-height: 300px;
}
#headerMenu{
margin: auto;
width: 100%;
max-width: 1600px;
}
#divMenuHeader {
position: absolute;
width: 96%;
max-width: 1400px;
top:230px;
left: 50%;
transform: translateX(-50%);
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 40px;
border: 3px solid rgb(255, 255, 255);
background-color: rgba(0, 0, 0, 0.767);
box-shadow: 0px 2px 1px rgba(255, 255, 255, 0.89);
color: aliceblue;
padding-top: 7px;
padding-bottom: 7px;
z-index: 99;
}
@media (max-width: 1850px) {
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1700px;
}
#divMenuHeader {
position: absolute;
width: 76%;
}
}
@media (max-width: 1780px) {
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1600px;
}
#divMenuHeader {
position: absolute;
width: 76%;
}
}
@media (max-width: 1680px) {
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1450px;
}
#divMenuHeader {
position: absolute;
width: 80%;
}
}
@media (max-width: 1580px) {
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1480px;
}
#divMenuHeader {
position: absolute;
width: 80%;
}
}
@media (max-width: 1480px) {
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1350px;
}
#divMenuHeader {
position: absolute;
width: 96%;
width: 80%;
}
}
@media (max-width: 1380px) {
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1250px;
}
#divMenuHeader {
position: absolute;
width: 80%;
}
}
@media (max-width: 1280px) {
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1150px;
}
#divMenuHeader {
position: absolute;
width: 80%;
}
}
@media (max-width: 1180px) {
#conteudoGeral {
margin: auto;
width: 100%;
max-width: 1050px;
}
#divMenuHeader {
position: absolute;
width: 96%;
max-width: 800px;
}
}
.h2Header{
position: absolute;
top: 20px;
margin-left: 7%;
color: rgb(0, 89, 255);
font-weight: bolder;
text-shadow: 0px 1px 1px rgb(1, 0, 22);
font-size:3.700rem;
font-family: 'Urbanist', sans-serif;
}
.h2Header b{
color: rgb(255, 0, 0);
}
#divMenuHeader button{
border: 0cap;
background-color: transparent;
height: 100%;
padding: 10px;
margin-left: 10px;
margin-right: 10px;
border-radius: 5px;
background-color: rgba(226, 226, 226, 0);
color: aliceblue;
text-shadow: 0px 1px 1px black;
cursor: pointer;
font-family: 'Poppins', sans-serif;
}
#iMenu{
  font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
cursor: pointer;
outline: none;
}
#divMenuHeader .BTN_menu{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
font-family: 'Poppins', sans-serif;
cursor: pointer;
outline: none;
}
#divMenuHeader .BTN_menu:hover{
color: rgb(72, 255, 0);
}
#menu_1{
display:none; 
position:fixed; 
top:0; left:0; 
width:200px; 
height:100vh;
background:#000000;
z-index:9999;
overflow: hidden;
text-align: center;
padding-bottom: 500px;
overflow: auto;
}
#select_Imoveis{
border: 0cap;
outline: none;
cursor: pointer;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
text-shadow: 0px 1px 1px rgb(0, 0, 0);
background-color: transparent;
color: aliceblue;
font-family: 'Poppins', sans-serif;
margin-left: 10px;
}
#select_Imoveis option{
background-color: rgb(255, 255, 255);
color: #000000;
border-bottom: 1px solid black;
text-shadow: 0px 1px 1px;
cursor: pointer;
}
#I_Casa{
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.200rem);
cursor: pointer;
margin-left: 16px;
}
main{
margin: auto;
width: 100%;
max-width: 1700px;
min-height: 100vh;
background-color: rgba(255, 255, 255, 0);
padding-bottom: 100px;
margin-bottom: 30px;
}
@media (max-width: 800px) {
main{
margin: auto;
width: 100%;
min-height: 200vh;
padding-bottom: 100px;
margin-bottom: 30px;
background-color: rgba(121, 5, 5, 0);
bottom: 20px;
}
}
#mainUm{
margin-top: 0px;
}
#MaiflaxUm{
margin: auto;
display: flex;
width: 100%;
min-height: 40vh;
align-items: baseline;
flex-wrap: wrap;
}
#DivPesquisador{
width: 25%;
min-width: 350px;
max-width: 550px;
min-height: 30vh;
margin-left: 10px;
background-color: rgb(255, 255, 255);
box-shadow: 0px 1px 2px rgba(107, 107, 107, 0.397);
margin-right: 20px;
border-radius: 5px;
padding-bottom: 15px;
outline: none;
border: 1px solid rgba(201, 201, 201, 0.342);
}
.diValores label{
color: #808080c0;
}
#divCarrocel{
margin:0 auto;
width: 100%;
max-width: 70%;
background-color: rgba(150, 131, 131, 0);
border: 0cap;
outline: none;
}
#DivPesquisador .h2P{
text-align: center;
background-color: #dbdcec00;
padding-top: 5px;
padding-bottom: 10px;
color: #4d4d4d;
font-size: 1.700rem;
outline: none;
}
#divCarrocel h2{
margin: auto;
width: 99%;
border: 3px solid rgb(0, 0, 0);
background-color: rgb(0, 0, 0);
padding: 1px;
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
color: rgb(255, 255, 255);
font-family: 'Poppins', sans-serif;
font-size: 1.700rem;
border-radius: 1px;
margin-top: 20px;
text-shadow: 0px 1px 1px rgb(0, 0, 0);
margin-top: 40px;
box-shadow: 0px 4px 4px rgba(121, 121, 121, 0.836);
outline: none;
margin-bottom: 25px;
}
#divApresntação{
margin:0 auto;
width: 100%;
height: 77vh;
background-color: rgba(253, 253, 253, 0);
margin-bottom: 5px;
outline: none;
overflow: hidden;
}
#imgApresent{
margin: 0 auto;
position: relative;
max-width: 100%;
height: 74vh;
text-align: center;
cursor: pointer;
outline: none;
transition: transform 0.5s ease; 
}
#imgApresent #IMGAP {
width: 100%;
height: 73vh;
margin-top: 0px;
border-radius: 3px;
outline: none;
}
#imgApresent:hover{
transform: scale(1.1); /* aumenta 20% */
}
#imgApresent::before {
content: "";
position: absolute;
inset: 1px;
background:#00000017; /* sombra/overlay */
fill-opacity: 0.5;
filter: brightness(0.5); 
}
#imgApresent p{
margin: auto;
width: 100%;
position: relative;
bottom: 120px;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
margin-bottom: 10px;
color: rgb(247, 247, 247);
background-color: rgba(0, 0, 0, 0.733);
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.877);
font-family: 'Raleway', sans-serif;
font-weight: bold;
outline: none;
padding-top: 5px;
padding-bottom: 5px;
}
#LBLAP{
margin:auto ;
position: relative;
text-align: center;
color: #ffffff;
bottom: 140px;
font-size: clamp(2rem, 0.3vw  + 0.5rem, 2.100rem);
font-family: 'Raleway', sans-serif;
outline: none;
text-shadow: 0px 3px 3px rgb(0, 0, 0);;
}
#DivPesquisador h2{
color: rgb(99, 99, 99);
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
font-weight: normal;
margin-top: 10px;
margin-bottom: 7px;
outline: none;
}
#divPesquisa div{
margin: auto;
width: 91%;
background-color: rgba(87, 87, 87, 0);
box-shadow: 0px 1px 1px rgba(138, 138, 138, 0);
outline: none;
border: 0cap;
}
#divPesquisa p{
margin: auto;
width: 90%;
color: #1f1e1ed2;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
font-family: 'Poppins', sans-serif;
margin-bottom: 3px;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.877);
cursor: pointer;
outline: none;
}
#divPesquisa p:hover{
color: rgb(0, 0, 0);
}
#divP1, #divP2{
margin: auto;
width: 95%;
display: flex;
justify-content: space-around;
align-items: center;
padding: 5px;
border: 0cap;
text-shadow: 0px 0px 0px #11111169
}
#divP1 input, #divP2 input{
width: 70%;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.100rem);
font-family: 'Raleway', sans-serif;
cursor: pointer;
border: 0cap;
outline: none;
}
#divP1 button, #divP2 button{
width: 25%;
border: 0cap;
font-family: 'Poppins', sans-serif;
background-color: rgb(18, 76, 109);
color: rgb(255, 255, 255);
cursor: pointer;
border-radius: 2px;
box-shadow: 0px 2px 1px rgba(99, 99, 99, 0.877);
outline: none;
text-shadow: 0px 0px 1px rgb(80, 80, 80);
}
#tranzação{
margin: auto;
margin-left: 4%;
border: 0cap;
outline: none;
cursor: pointer;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
color: #303030;
margin-bottom: 10px;
padding: 5px;
background-color: rgba(18, 76, 109, 0);
border-radius: 2px;
font-family: 'Poppins', sans-serif;
margin-top: 10px;
outline: none;
text-shadow: 0px 0px 1px rgb(78, 78, 78);
}
#tranzação option{
color: #494949;
background-color: rgb(255, 255, 255);
cursor: pointer;
text-shadow: 0px 0px 2px rgb(88, 88, 88);
}
#divPesquisa  #P_division{
width: 100%;
padding-top: 5px;
padding-bottom: 5px;
background-color: #dfdfdf7c;
margin: 0px;
margin-bottom: 20px;
outline: none;
}
#divPesquisa  #btnBuscaValor{
width: 100%;
border: 0cap;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
background-color: rgb(18, 76, 109);
border-radius: 5px;
padding: 2px;
color: #ffffff;
margin-top: 20px;
font-family: 'Poppins', sans-serif;
box-shadow: 0px 2px 2px rgb(73, 73, 73);
outline: none;
}
#divPesquisa .ClassPValor{
border: 0cap;
box-shadow: 0px 0px 0px;
background-color: transparent;
}
#divPesquisa .diValores{
width: 88%;
margin-top: 4px;
padding: 10px;
}
#divP1 button:hover, #divP2 button:hover, #divPesquisa  #btnBuscaValor:hover {
background-color: rgb(1, 99, 156);
color:rgb(255, 255, 255);
}
#divMainDois{
margin: auto;
position: relative;
width: 100%;
max-width: 1600px;
min-height: 10vh;
background-color: #ffffff00;
}
#flexdiv2{
margin: auto;
display: flex;
align-items: flex-start;
width: 100%;
flex-wrap: wrap;
}
#divPesquisa #pesq{
margin-bottom: 10px;
margin-top: 10px;
color: #cdced1;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
}
#CorretoresDiv{
position: relative;
margin: auto;
width: 100%;
max-width: 21%;
height: auto;
padding-bottom: 20px;
background-color: transparent;
margin-right: 20px;
margin-left: 10px;
background-color: rgba(255, 255, 255, 0);
bottom: 220px;
}
#lista_imoveis_destaque{
width: 100%;
max-width: 76%;
min-height: 100vh;
background: rgba(210, 105, 30, 0);
}
#div_Corretor{
width: 100%;
display: flex;
flex-direction: column;
min-height: 20vh;
background-color: #ffffff00;
padding-top: 7px;
padding-bottom: 20px;
box-shadow: 0px 2px 4px rgba(37, 37, 37, 0);
}
#CorretoresDiv h2{
text-align: center;
min-width: 100%;
margin-top: 10px;
background-color: #000000;
color: #ffffff;
font-family: 'Poppins', sans-serif;
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.400rem);
padding-top: 10px;
padding-bottom: 10px;
}
#div_Corretor h2{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
background-color: #e9030300;
color: #272727;
}
#Corr_um{
width: 100%;
min-height: 20vh;
background-color: rgb(255, 255, 255);
box-shadow: 0px 1px 2px rgba(37, 37, 37, 0.384);
}
#Corr_dois{
width: 100%;
min-height: 20vh;
background-color: rgb(255, 255, 255);
margin-bottom: 5px;
box-shadow: 0px 1px 2px rgba(37, 37, 37, 0.404);
}
@media (max-width: 1800px) {
.h2Header{
margin-left:6%;
}}
@media (max-width: 1700px) {
.h2Header{
margin-left:3%;
}}
@media (max-width: 1600px) {
.h2Header{
margin-left:30px;
}
.h2Header{
font-size:3.700rem;
}}
@media (max-width: 1500px) {
.h2Header{
font-size:3.600rem;
}}
@media (max-width: 1400px) {
#CorretoresDiv h2{
text-align: center;
min-width: 100%;
margin-top: 10px;
margin-bottom: 100px;
background-color: #000000;
color: #ffffff;
font-family: 'Poppins', sans-serif;
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.400rem);
padding-top: 10px;
padding-bottom: 10px;
}
#CorretoresDiv{
position: relative;
bottom: 0px;
}
#flexdiv2{
margin: auto;
flex-direction: column-reverse;
width: 100%;
min-height: 50vh;
align-items: end;
flex-wrap: wrap;
}
#CorretoresDiv{
margin: auto;
min-width:98% ;
margin-top: 40px;
}
#lista_imoveis_destaque{
margin: auto;
min-width: 98%;
min-height: 40vh;
background: rgba(210, 105, 30, 0);
margin-left: 10px;
padding-bottom: 40px;
}
#CorretoresDiv h2{
margin: auto;
width: 98%;
text-align: center;
margin-bottom: 20px;
}
#div_Corretor h2{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
background-color: #ffffff00;
color: #272727;
}
#Corr_um{
margin: auto;
width: 98%;
max-width: 550px;
}
#Corr_dois{
margin: auto;
width: 98%;
max-width: 550px;
min-height: 20vh;
background-color: #ffffff;
margin-bottom: 20px;
}
.h2Header{
font-size:3.500rem;
}
#imgApresent{
position: relative;
height: 73vh;
}
#IMGAP{
width: 100%;
height: 72vh;
margin-top: 10px;
border-radius: 3px;
outline: none;
}
#divCarrocel{
margin:0 auto;
width: 100%;
max-width: 68%;
border-radius: 10px;
}
}
@media (max-width: 1300px) {
.h2Header{
font-size:3.400rem;
}
#imgApresent{
position: relative;
height: 71vh;
}
#IMGAP{
width: 100%;
height: 70vh;
margin-top: 10px;
border-radius: 3px;
outline: none;
}
#imgHeader{
width: 100%;
border-radius: 0%;
}
.logo{
display: none;
}
#divCarrocel{
margin:0 auto;
width: 100%;
max-width: 63%;
background-color: rgba(172, 2, 115, 0);
border-radius: 10px;
}
}
@media (max-width: 1200px) {
.h2Header{
font-size:3rem;
}
#imgApresent{
position: relative;
height: 64vh;
}
#IMGAP{
width: 100%;
height: 63vh;
margin-top: 10px;
border-radius: 3px;
outline: none;
}
#divCarrocel h2{
font-size: 1.400rem;
}
#imgHeader{
width: 100%;
border-radius: 0%;
}
#bannerUm {
width: 100%;
}
}
@media (max-width: 1050px) {
#mainUm{
margin-top: 10px;
}
.h2Header{
font-size:2.800rem;
}
#imgHeader{
width: 100%;
}
#bannerUm {
width: 100%;
}
#MaiflaxUm{
margin: auto;
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
}
#DivPesquisador{
margin:auto;
width: 96%;
max-width: 740px;
min-height: 40vh;
margin-top: 20px;
background-color: rgb(255, 255, 255);
box-shadow: 0px 1px 1px rgba(145, 145, 145, 0.37);
margin-top: 30px;
}
#divCarrocel{
width: 98%;
max-width: 740px;
background-color: rgba(255, 228, 196, 0);
}
#divCarrocel h2{
margin: auto;
min-width: 98%;
font-family: 'Poppins', sans-serif;
font-size: 1.500rem;
}
#divApresntação{
margin:0 auto;
width: 100%;
min-height: 30vh;
}
}
@media (max-width: 1050px) {
#divMainDois{
margin: auto;
width: 100%;
max-width: 1600px;
min-height: 100vh;
background-color: #fbff0000;
}
#CorretoresDiv h2{
margin: auto;
max-width: 450px;
text-align: center;
}
#div_Corretor h2{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
background-color: #ffffff00;
color: #272727;
}
#CorretoresDiv{
margin: auto;
min-width: 100%;
min-height: 60vh;
background-color: transparent;
background-color: #fbff0000;
}
#Corr_um{
margin: auto;
width: 100%;
max-width: 450px;
min-height: 20vh;
background-color: #ffffff;
}
#Corr_dois{
margin: auto;
width: 100%;
max-width: 450px;
min-height: 20vh;
background-color: #ffffff;
margin-bottom: 20px;
}
#lista_imoveis_destaque{
min-width: 100%;
min-height: 10vh;
background: rgba(210, 105, 30, 0);
margin: 0%;
}
}
#list {
display:flex;
justify-content: space-around;
margin-top: 30px;
flex-wrap: wrap;
height: auto;
}
#divIMG{
height: 200px;
background-color: #898b0d00;
overflow: hidden;
position: relative;
}
#ImagemIMV{
width: 100%;
height: 200px;
cursor: pointer;
}
#divIMG::before {
content: "";
position: absolute;
inset: 1px;
background:#00000015; /* sombra/overlay */
fill-opacity: 0.5;
filter: brightness(0.5); 
}
#ConntDiv {
position: relative;
overflow: hidden;
margin-bottom: 30px;
margin-top: 20px;
margin-left: 10px;
margin-right: 10px;
width: 280px;
height: 340px;
background-color: #ffffff;
border-bottom: 7px solid rgb(83, 83, 83);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.445);
border-radius: 20px;
}
#divLabel {
position: absolute;
bottom: 125px;
left: 0;
width: 100%;
height: 200px;
background-color: rgb(255, 255, 255);
padding: 5px;
padding-top: 10px;
padding-bottom: 10px;
/* estado inicial escondido */
transform: translateY(100%);
opacity: 0;
transition: transform 0.2s ease, opacity 0.2s ease;
font-family: 'Poppins', sans-serif;
}
#label_cinco{
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
font-family: 'Poppins', sans-serif;
}
#ConntDiv:hover #divLabel {
transform: translateY(0); /* sobe suavemente */
opacity: 1;              /* aparece gradualmente */
}
#flexdiv2 #Div_IMV_DestaqueH2{
margin: auto;
width: 95%;
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #ffee00;
color: rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.404);
font-family: 'Poppins', sans-serif;
font-size: clamp(1.600rem, 0.3vw  + 0.5rem, 1.700rem);
border-radius: 20px;
box-shadow: 0px 2px 5px black;
}
#flexdiv2  #Div_IMV_DestaqueH2_{
margin: auto;
width: 98%;
max-width: 237px;
text-align: center;
font-family: 'Poppins', sans-serif;
text-shadow: 0 1px 0px rgba(0, 0, 0, 0.404);
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
border-radius: 20px;
cursor: pointer;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.644);
margin-top: 20px;
display: flex;
align-items: center;
justify-content: space-between;
color: rgb(0, 0, 0);
padding-left: 20px;
background-color: #ffffff;
color: rgb(0, 0, 0);
border: 1px solid rgba(156, 156, 156, 0.589);
}
#Bred{
color: rgb(2, 84, 177);
font-size: clamp(1.700rem, 0.3vw  + 0.5rem, 1.800rem);
margin-right: 10px;
}
#DivPesquisador #divP1, #DivPesquisador #divP2{
border: 0cap;
box-shadow: 0px 0px 0px;
height: 37px;
margin-bottom: 10px;
border-bottom: 1px solid rgba(80, 80, 80, 0.596);
padding: 4px;
}
#flexdiv2  #Div_IMV_DestaqueH2_:hover{
background-color: #ffe60000;
box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.644);
}
#flexdiv2  #Div_IMV_DestaqueH2_:hover #Bred{
color: rgb(3, 3, 3);
}
#ConntDiv #img_icom {
width: 21px;
margin-right: 10px;
filter: brightness(1.7);
filter: contrast(0.7);
cursor: pointer;
}
/* Clareia mais quando o mouse passa por cima */
#cvc{
margin: auto;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px;
background-color: rgb(255, 255, 255);
}
#cvic{
margin: auto;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
margin-left: 12px;
background-color: rgb(255, 255, 255);
}
#paraG{
font-size: clamp(0.700rem, 0.3vw  + 0.5rem, 0.700rem);
color: #616161;
font-family: 'Figtree', sans-serif;
}
#ConntDiv .smai{
color: rgb(255, 251, 251);
}
#divPesquisa .diValores input{
font-family: 'Figtree', sans-serif;
}
#label_um{
margin: auto;
font-family: 'Poppins', sans-serif;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
color: #383838;
text-shadow: 0px 1px 1px rgb(65, 64, 64);
display: block;
margin: 3px 3px; /* espaço externo em relação às margens */
margin-right: 10px;
}
#label_dois{
margin: auto;
width: 99%;
font-family: 'Poppins', sans-serif;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
color: #7a7a7a;
text-shadow: 0px 0px 1px rgb(99, 99, 99);
display: block;
display: flex;
align-items: center;
flex-wrap: wrap;
margin: 4px 2px; 
margin-right: 10px;
}
#spamm{
margin: auto;
font-family: 'Poppins', sans-serif;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
color: #535353;
text-shadow: 0px 0px 1px rgb(0, 0, 0);
display: block;
margin: 3px 3px;
}
#label_tres{
margin: auto;
position: absolute;
font-family: 'Poppins', sans-serif;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.800rem);
color: #aaaaaa;
text-shadow: 0px 0px 1px rgb(10, 10, 10);
display: block;
margin: 7px 5px ; 
top: 190px;
}
#label_cinco{
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.800rem);
text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.623);
color: #6e6e6e;
margin:7px;
max-width: 90%;
}
#divBotao{
margin: auto;
width: 100%;
text-align: center;
margin-top: 20px;
background-color: transparent;
}
#divBotao button{
border: 0cap;
width: 43%;
padding: 12px;
border-radius: 1px;
box-shadow: 0px 1px 2px rgba(43, 43, 43, 0.726);
cursor: pointer;
background-color: rgba(240, 248, 255, 0);
}
#DivPesquisador #i_valor_imovel, #DivPesquisador #i_codigo_imovel, #DivPesquisador #i_pequisa_imovel{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
text-shadow: 0px 0px 0px rgba(15, 15, 15, 0.76);
color: rgb(126, 126, 126);
cursor: pointer;
outline: none;
}
#DivPesquisador #i_codigo_imovel{
margin-bottom: 20px;
}
#DivPesquisador .diValores, #DivPesquisador .classeCodigo{
margin-bottom: 10px;
}
#DivPesquisador #divP2{
margin-top: 12px;
}
#DivPesquisador #divP2 input{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
color: rgb(0, 0, 0);
cursor: pointer;
outline: none;
font-family: 'Poppins', sans-serif;
margin-left: 5px;
text-shadow: 0px 0px 0px rgba(15, 15, 15, 0.76);
}
#p_IMG_I{
width: 35px;
height: 35px;
text-align: center;
color: rgb(255, 230, 0);
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
position: relative;
bottom: 99%;
margin-left: 2px;
background-color: rgba(0, 137, 201, 0);
border-radius: 50%;
text-shadow: 0px 1px 1px rgba(0, 1, 14, 0.836);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width: 800px) {
.h2Header{
margin-left:15px;
}
#mainUm{
margin-top: 20px;
}
}
@media (max-width: 700px) {
.h2Header{
margin-left:10px;
}
#mainUm{
margin-top: 20px;
}
#p_IMG_I{
font-size: clamp(1.300rem, 0.3vw  + 0.5rem, 1.400rem);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#divMenuHeader {
padding-top: 7px;
padding-bottom: 7px;
}
.h2Header{
font-size:2.500rem;
}
#DivPesquisador .diValores, #DivPesquisador .classeCodigo{
margin-bottom: 10px;
display: none;
}
#imgApresent p{
margin: auto;
width:80%;
position: relative;
bottom: 70px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
margin-bottom: 10px;
color: #ffffff;
background-color: rgba(0, 0, 0, 0.774);
text-shadow: 0px 10px 20px rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
}
#LBLAP{
margin:auto ;
width: 100%;
max-width: 95%;
text-align: center;
color: aliceblue;
position: relative;
bottom: 160px;
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
padding-left: 20px;
padding-right: 20px;
border-radius: 10px;
text-shadow: 0px 3px 3px rgba(32, 32, 32, 0.753);
font-family: 'Poppins', sans-serif;
}
#MaiflaxUm{
margin: auto;
position: relative;
display: block;
width: 100%;
height: auto;
align-items: baseline;
}
#divApresntação{
display: none;
}
#divCarrocel h2{
margin: auto;
width: 100%;
margin-top: 40px;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
display: none;
}
#divIMG{
height: 200px;
background-color: #898b0d00;
overflow: hidden;
position: relative;
}
#ImagemIMV{
width: 100%;
height: 300px;
}
#ConntDiv {
position: relative;
overflow: hidden;
margin-bottom: 30px;
margin-left: 10px;
margin-right: 10px;
width: 90%;
max-width: 450px;
height: 480px;
background-color: #ffffff;
border-bottom: 7px solid rgb(83, 83, 83);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.445);
}
#divIMG{
height: 300px;
background-color: #898b0d00;
overflow: hidden;
}
#divBotao{
margin: auto;
width: 100%;
text-align: center;
margin-top: 25px;
background-color: transparent;
}
#ConntDiv #img_icom {
width: 30px;
margin-right: 10px;
filter: brightness(1.7);
filter: contrast(0.7);
}
/* Clareia mais quando o mouse passa por cima */
#cvc{
margin: auto;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 35px;
}
#cvic{
margin: auto;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
margin-left: 30px;
}
#paraG{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 0.900rem);
color: #616161;
font-family: 'Figtree', sans-serif;
}
#ConntDiv .smai{
color: rgb(255, 251, 251);
}
#divPesquisa .diValores input{
font-family: 'Figtree', sans-serif;
}
#label_um{
margin: auto;
font-family: 'Poppins', sans-serif;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.100rem);
color: #383838;
text-shadow: 0px 1px 1px rgb(65, 64, 64);
display: block;
margin: 15px 7px; /* espaço externo em relação às margens */
margin-right: 10px;
}
#label_dois{
margin: auto;
font-family: 'Poppins', sans-serif;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
color: #252525;
text-shadow: 0px 0px 1px rgb(0, 0, 0);
display: block;
margin: 5px 8px; 
margin-right: 10px;
display: flex;
align-items: center;
flex-wrap: wrap;
}
#spamm{
margin: auto;
font-family: 'Poppins', sans-serif;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
color: #535353;
text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.836);
display: block;
margin: 3px 20px;
}
#divLabel {
position: absolute;
bottom: 160px;
height: 300px;
left: 0;
width: 100%;
background-color: rgb(255, 255, 255);
padding: 5px;
padding-top: 5px;
padding-bottom: 15px;
/* estado inicial escondido */
transform: translateY(100%);
opacity: 0;
transition: transform 0.2s ease, opacity 0.2s ease;
font-family: 'Poppins', sans-serif;
z-index: 99;
}
#MaiflaxUm{
margin: auto;
display: flex;
width: 100%;
height: auto;
align-items: baseline;
flex-wrap: wrap;
}
}
@media (max-width: 800px) {
#bannerUm  #imgHeader {
display: none;
}
#bannerUm  #imgDoisHeader{
display: block;
}
}
@media (max-width: 600px) {
#divMenuHeader {
padding-top: 7px;
padding-bottom: 7px;
}
.h2Header{
font-size:2.300rem;
}
#divCarrocel h2{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
height: auto;
}
#ImagemIMV{
width: 100%;
height: 300px;
}
#divIMG{
height: 300px;
background-color: #898b0d00;
overflow: hidden;
}
#divBotao{
margin: auto;
width: 100%;
text-align: center;
margin-top: 25px;
background-color: transparent;
}
#ImagemIMV{
width: 100%;
height: 300px;
}
#ConntDiv {
position: relative;
overflow: hidden;
margin-bottom: 30px;
margin-left: 10px;
margin-right: 10px;
width: 90%;
max-width: 400px;
height: 470px;
background-color: #ffffff;
border-bottom: 7px solid rgb(83, 83, 83);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.445);
}
#ConntDiv #img_icom {
width: 25px;
margin-right: 10px;
filter: brightness(1.7);
filter: contrast(0.7);
}
/* Clareia mais quando o mouse passa por cima */
#cvc{
margin: auto;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 30px;
}
#cvic{
margin: auto;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
margin-left: 25px;
}
#paraG{
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.800rem);
color: #616161;
font-family: 'Figtree', sans-serif;
}
#ConntDiv .smai{
color: rgb(255, 251, 251);
}
#divPesquisa .diValores input{
font-family: 'Figtree', sans-serif;
}
#label_um{
margin: auto;
font-family: 'Poppins', sans-serif;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.100rem);
color: #383838;
text-shadow: 0px 1px 1px rgb(65, 64, 64);
display: block;
margin: 15px 7px; /* espaço externo em relação às margens */
margin-right: 10px;
}
#label_dois{
margin: auto;
font-family: 'Poppins', sans-serif;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1rem);
color: #252525;
text-shadow: 0px 0px 1px rgb(0, 0, 0);
display: block;
margin: 10px 7px; 
margin-right: 10px;
display: flex;
align-items: center;
flex-wrap: wrap;
}
#divLabel {
position: absolute;
bottom: 155px;
height: 300px;
left: 0;
width: 100%;
background-color: rgb(255, 255, 255);
padding: 5px;
padding-top: 10px;
padding-bottom: 10px;
/* estado inicial escondido */
transform: translateY(100%);
opacity: 0;
transition: transform 0.2s ease, opacity 0.2s ease;
font-family: 'Poppins', sans-serif;
z-index: 99;
outline: none;
}
}
#label_dois_{
margin: auto;
width: 99%;
font-family: 'Poppins', sans-serif;
font-size: clamp(0.800rem, 0.3vw  + 0.5rem, 0.900rem);
color: #252525;
text-shadow: 0px 0px 1px rgb(0, 0, 0);
display: block;
align-items: center;
flex-wrap: wrap;
margin: 15px 10px; 
outline: none;
}
#myProgresos {
width: 73%;
background-color:rgba(0, 0, 0, 0);
display: none;
border-radius: 10px;
margin-bottom: 3px;
margin-left: 10%;
margin-top: 10px;
outline: none;
border: 2px solid rgba(200, 204, 207, 0);
font-family: 'Poppins', sans-serif;
}
#myBarr {
width: 2%;
/* Começa com 1% */
height: 20px;
background-color: rgb(0, 69, 219);
text-align: center;
/* Centraliza horizontalmente */
line-height: 20px;
/* Centraliza verticalmente */
color: rgb(255, 255, 255);
text-shadow: 0px 1px 1px black;
border-radius: 7px;
border: 1px solid rgba(255, 255, 255, 0);

font-weight: bolder;
outline: none;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
font-family: 'Poppins', sans-serif;
position: relative;
bottom: 15px;
}   
.my-customTime{
margin: auto;
width: 100%;
max-width: 400px;
padding-top: 20px;
padding-bottom: 20px;
padding-right: 20px;
}
.my-customTime img{
  width: 80%;

}
.my-customTime #btnTime{
text-align: center;
border: 0cap;
background-color: #007e1100;
float: left;
outline: none;
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.500rem);
border-radius: 50%;
box-shadow: 0px 10px 20px rgb(255, 255, 255);
}
.my-customTime #divInit{
width: 100%;
min-height: 15vh;
}
#h3_C_R{
color: rgb(49, 49, 49);
padding-top: 7px;
padding-bottom: 7px;
background-color: rgb(248, 223, 0);
font-family: 'Poppins', sans-serif;
margin-bottom: 12px;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.767);
}
.my-custom_M_R {
width: 100%;
max-width: 450px;
border-radius: 10px;
overflow: hidden;
background-color: rgb(248, 223, 0);
padding-bottom: 30px;
text-align: center;
}
.my-custom_M_R #custonMenuR{
min-width: 100%;
display: flex;
justify-content: center;
flex-direction: column;
gap: 20px;
border-radius: 10px;
overflow: hidden;
background-color: rgba(255, 255, 255, 0);
padding-bottom: 40px;
color: #6868688f;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.788);
}
.my-custom_M_R #custonMenuR #lbl_c_1,.my-custom_M_R #custonMenuR #lbl_c_2,.my-custom_M_R #custonMenuR #lbl_c_3,.my-custom_M_R #custonMenuR #lbl_c_4{
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
width: 90%;
cursor: pointer;
border:  1px  solid rgba(165, 165, 165, 0.425);
font-family: 'Poppins', sans-serif;
margin-left: 12px;
padding: 5px;
border-radius: 20px;
background-color: rgb(255, 255, 255);
color: rgb(22, 22, 22);
}
.my-custom_M_R #custonMenuR #lbl_c_1:hover,.my-custom_M_R #custonMenuR #lbl_c_2:hover,.my-custom_M_R #custonMenuR #lbl_c_3:hover,.my-custom_M_R #custonMenuR #lbl_c_4:hover{
color: rgb(2, 2, 2);
background-color: rgb(255, 230, 0);
}
.my-custom_M_R button{
color: aliceblue;
background-color: red;
padding: 1px;
border: red;
font-family: 'Poppins', sans-serif;
font-size: clamp(1.600rem, 0.3vw  + 0.5rem, 1.700rem);
margin-right: 25px;
border-top-right-radius: 15px;
}
.my-custom_M_R button:hover{
color: rgb(255, 0, 0);
background-color: rgb(255, 255, 255);
font-family: 'Poppins', sans-serif;
}
#divCorretora, #divContato{
margin: auto;
width: 98%;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 30px;
}
#divCorretora img{
width: 120px;
height: 120px;
padding: 2px;
border: 2px solid rgb(90, 90, 90);
cursor: pointer;
margin-top: 20px;
border-radius: 50%;
background-color: rgb(105, 105, 105);
transition: transform 0.5s ease; 
}
#divCorretora img:hover{
background-color: #810257;
border: 2px solid #74006e;
transform: scale(1.2); 
}
#divCorretora p{
font-size: clamp(1.200rem, 0.3vw  + 0.5rem, 1.300rem);
font-family: 'Poppins', sans-serif;
text-shadow: 0px 1px 0px black;
margin-top: 7px;
}
#bcr{
text-shadow: 0px 1px 1px black;
}
#CorretoresDiv:hover  img {
border: 2px solid #74006e;
cursor: pointer;
transform: scale(1.2); 
}
#divContato button{
width: 90%;
padding: 9px;
border: 0cap;
outline: none;
cursor: pointer;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.904);
border-radius: 3px;
box-shadow: 0px 3px 3px rgba(5, 5, 5, 0.527);
margin-bottom: 12px;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
display: flex;
justify-content: space-between;
align-items: center;
font-family: 'Poppins', sans-serif;
color: aliceblue;
background-color: #000000;
}
#divContato i{
font-size: clamp(1.400rem, 0.3vw  + 0.5rem, 1.400rem);
}
#divContato button:hover {
color: #2ee600;
background-color: #000000;
box-shadow: 0px 1px 1px rgb(255, 255, 255);
}
#quemSomos{
margin: auto;
width: 95%;
max-width: 1250px;
font-family: 'Poppins', sans-serif;
margin-bottom: 40px;
}
#quemSomos h2{
font-size: 1.800rem;
text-shadow: 0px 1px 1px black;
}
#cp_QuemSomos{
width: 100%;
max-width: 1920px;
background-color: rgb(241, 241, 241);
min-height:30vh ;
padding-top: 70px;
padding-bottom: 40px;
}
#quemSomos p{
text-shadow: 0px 1px 1px rgba(124, 124, 124, 0.459);
background-color: rgb(241, 241, 241);
}
#label_um{
margin: auto;
font-family: 'Poppins', sans-serif;
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
color: #383838;
text-shadow: 0px 1px 1px rgb(65, 64, 64);
display: block;
margin: 3px 3px; /* espaço externo em relação às margens */
margin-right: 10px;
}
.h2P{
text-shadow: 0px 0px 2px rgb(117, 117, 117);
}
#divPesquisa #divP2 #PesquInput{
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.100rem);
}
#btnMenuH{
display: none;
}
#divCorretora img{
margin-top: 30px;
margin-bottom: 10px;
}
#divLabel, #divIMG{
cursor: pointer;
}
#maisBTN:hover, #CompartBTN:hover{
background-color: rgb(252, 252, 252);
color: rgb(105, 1, 100);
border: 1px solid rgba(3, 3, 3, 0.575);
border-radius: 5px;
}

#MenuIMG{
margin-top: 0px;
}
#menu_lateral {
position: fixed;
top: 0px;
left: -165px;
width: 160px;
height: 100%;
min-height: 30vh;
background-color: #000000;
color: white;
transition: left 0rgba(117, 2, 111, 0.957);
z-index: 999;
padding: 0px;
overflow-y: auto;
font-family: 'Poppins', sans-serif;
}
#menu_lateral ul {
list-style: none;
padding: 0;
margin-bottom: 120px;
}
#menu_lateral li {
margin: 20px 0;
}
.exit{
  float: right;
  margin-right: 10px;
}
#menu_lateral a {
color: white;
text-decoration: none;
font-size: 15px;
cursor: pointer;
margin-left: 10px;
}
#menu_lateral a:hover{
color: rgb(43, 255, 0);
}

.menu-ativo {
left: 0 !important;
}
#menu_lateral #exitMenu{
color: rgb(255, 255, 255);
font-size: 14px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#menu_lateral #exitMenu:hover{
color: rgb(223, 0, 111);
}

.my-admin{
width: 99%;
max-width: 460px;
font-family: 'Poppins', sans-serif;
margin-bottom: 100px;
z-index: 9999;
color: #333333;
}
#iPasWord{
margin-right: 2px;
}
.my-admin button{
  border-radius: 50%;
  cursor: pointer;
color: rgb(0, 0, 0);
  margin-right: 10px;
  background-color: rgba(235, 235, 235, 0.384);
  padding: 0;
}

#administrar{
background-color: rgb(0, 0, 0);
padding-bottom: 30px;
border-radius: 10px;
overflow: hidden;
}
.my-admin h2{
padding: 5px;
background-color: yellow;
color: #333333;
}
#administrar label{
font-size: clamp(0.900rem, 0.3vw  + 0.5rem, 1rem);
color: rgb(217, 221, 224);
text-shadow:  0px 1px 1px rgb(43, 42, 42);
}
#administrar input{
margin: auto;
background-color: rgba(240, 248, 255, 0);
cursor: pointer;
padding: 11px;
border: 0cap;
outline: none;
width: 71%;
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.000rem);
margin-top: 10px;
color: aliceblue;
margin-left: 10px;
border-radius: 5px;
margin-bottom: 2px;

}
#administrar #entrebtn{
background-color: rgb(0, 132, 255);
color: rgb(255, 255, 255);
border-radius: 0px;
border: 0cap;
cursor: pointer;
outline: none;
width: 77%;
padding: 10px;
font-size: clamp(1.100rem, 0.3vw  + 0.5rem, 1.200rem);
}
#administrar #entrebtn:hover{
background-color: aqua;
color: red;
}

#maisImóveis, #divEscolha{
  margin: auto;
  width: 95%;
  max-width: 1300px;
  background-color: rgba(240, 248, 255, 0);
  text-align: center;
  padding-bottom: 50px;
}
#maisImóveis{
  display: none;
}

#MaisList{
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  flex-wrap: wrap;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
}

#divEscolha{
    display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  flex-wrap: wrap;
  margin-top: 70px;
  font-family: 'Poppins', sans-serif;
}
#divEscolha div{
  margin: auto;
  width: 100%;
  max-width: 250px;
  height: 250px;
  cursor: pointer;
  background-color: #2ee60000;
  border-radius: 20px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.507);
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}

#maisImóveis h2{
  text-shadow: 0px 2px 2px rgb(97, 97, 97);
  color: #e4e4e4;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1.700rem, 0.3vw  + 0.5rem, 1.700rem);
  background-color: rgb(0, 115, 192);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.555);
}





@media (max-width: 600px) {
#menu_lateral {
left: -100%;
width: 100%;
height: 100%;
z-index: 999;
}
}
footer{
width: 100%;
max-width: 1920px;
height: 40vh;
background-color:  rgb(241, 241, 241);
padding-bottom: 70px;
background-image: url('../src/Bannerjpg2.jpg');
background-repeat: no-repeat;
background-size: cover;
position: relative;
bottom: 0px;
border-top: 40px solid rgba(236, 236, 236, 0);
border-bottom: 10px solid rgba(255, 255, 255, 0);
}
footer::before {
content: "";
position: absolute;
inset: 0px;
background:#96969615; /* sombra/overlay */
fill-opacity: 0.5;
filter: brightness(0.5); 
}
@media (max-width: 1370px) {
footer{
background-image: url('../src/Bannerjpg13.jpg');
}
}
@media (max-width: 1050px) {
footer{
background-image: url('../src/Bannerjpg14.jpg');
}}
@media (max-width: 690px) {
footer{
background-image: url('../src/Bannerjpg15.jpg');
}
}
#btnCad{
font-size: clamp(1rem, 0.3vw  + 0.5rem, 1.100rem);
cursor: pointer;
}
#btnCad:hover{
text-shadow: 0px 0px 1px rgb(65, 64, 64);
}
