*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(237, 245, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
::-webkit-scrollbar {
width: 15px;
margin-left: 15px;
/* Largura da barra de rolagem */
cursor: pointer;   
margin: 0px;
}        
::-webkit-scrollbar-thumb {
margin-left: 15px;
background-color: rgba(114, 114, 114, 0.842);
/* Cor do polegar da barra de rolagem */
margin-top: 1px;
border-radius: 7px;
cursor: pointer;
margin: 0px;
min-height: 37vh; 
}
::-webkit-scrollbar-thumb:hover {
background-color: rgb(10, 8, 131); 
margin: 0px; 
min-height: 37vh;       
}       
::-webkit-scrollbar-track {
/* Cor da trilha da barra de rolagem */
margin-left: 15px;    
background-color: rgb(85, 85, 85);
border-radius: 7px;
cursor: pointer;
margin-bottom: 2px;
margin-top: 2px;
margin: 0px;
}
#div_geral{
margin: auto;
max-width: 1920px;
min-width: 400px;
min-height: 100vh;
background-color: rgb(255, 255, 255);
}
#div_geral #div_heaad{
 width: 100%;
 max-width: 1920px;
 min-width: 400px;
 position: fixed;
background-color: rgb(0, 3, 5);
z-index: 9999;
font-size: clamp(0.775rem, 1vw + 0.5rem, 1rem);
}
#heaad01{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 padding-bottom: 3px;
 background-color: rgb(0, 3, 5);
 color: aliceblue;
}
 #heaad02{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 padding-top: 10px;
 border-bottom: 1px solid rgb(177, 177, 177);
 color: rgb(10, 10, 10);
}
#div_heaad #heaad01 label{
border: 0cap;
background-color: rgba(0, 0, 0, 0);
color: rgb(255, 255, 255);
cursor: pointer;
font-size: clamp(0.775rem, 1vw + 0.5rem, 1rem);
}
#div_heaad #heaad02 button{
border: 0cap;
background-color: rgba(0, 0, 0, 0);
color: rgb(255, 255, 255);
cursor: pointer;
font-size: clamp(0.575rem, 1vw + 0.5rem, 1rem);
}
 #div_body{
width: 100%;
max-width: 1920px;
min-height: 100vh;
background-color: rgba(0, 255, 255, 0);
padding-top: 95px;
}
#Titulo_heaad{
font-size: 22px;
margin-left: 20px;
}
#Titulo{
font-size: 23px;
margin-left: 20px;
padding-bottom: 5px;
padding-top: 10px;
}
#lbl02_heaad01{
 margin-right: 20px;
}
#body01{
margin: auto;
width: 95%;
max-width: 1400px;
margin-top: 25px;
background-color: rgba(255, 0, 200, 0);
}
#body01 select{
padding: clamp(0.577rem, 1vw, 1rem);
cursor: pointer;
font-size: clamp(0.975rem, 1vw + 0.5rem, 1rem);
min-width: 300px;
margin-bottom: 15px;
background-color: rgba(240, 248, 255, 0);
border: 1px solid rgb(134, 134, 134);
border-radius: 7px;
border-color: rgb(0, 0, 0);
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
outline: none;  
}
#todList select{
width: 250px;
cursor: pointer;
padding: clamp(0.2rem, 0.500vw, 1rem);
background-color: rgb(0, 3, 5);
border-color: rgba(0, 2, 14, 0);
color: rgb(255, 255, 255);
font-size: 15px;
border-radius: 4px;
margin-left: 20px;
font-weight: bold;
outline: none;  
}
#buscar{
min-width: 100px;
padding: clamp(0.577rem, 1vw, 1rem);
border-radius: 5px;
border: 1px solid rgb(75, 74, 74);
cursor: pointer;
font-size: clamp(0.975rem, 1vw + 0.5rem, 1rem);
background-color: rgb(0, 3, 5);
color: azure;
}
#buscar:hover{
  background-color: #05005c;
  color: rgb(255, 255, 255);
}
#btn2_heaadMenu{
margin-right: 20px;
}
#div_footer{
width: 100%;
max-width: 1920px;
min-width: 400px;
height: 70vh;
background-color: rgb(0, 0, 0);
}
#body02{
margin: auto;
max-width: 1400px;
min-height: 20vh;
background-color: rgba(0, 255, 255, 0);
color: black;
margin-top: 50px;
}
#body02 label{
color: black;
}
#div_list{
margin: auto;
max-width: 1000px;
min-width: 390px;
}
#div_list h1{
text-align: center;
}
#i_select_procuraTdlist{
font-size: 25px;
}
#heaad01 label {
position: relative;
background-color: #ffffff00;
color: white;
font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
padding: clamp(0.5rem, 1vw, 1rem) clamp(1rem, 2vw, 2rem);
border: 0cap;
cursor: pointer;
overflow: hidden;
font-weight: bold;
}
#heaad01 label::after {
content: "";
position: absolute;
width: 0%;
font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
height: 3px;
background: #ffffff; /* Cor da linha */
transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}
#heaad01 label::after {
bottom: 0;
right: 0;
}
#heaad01 label:hover::after {
width: 100%;
}
#heaad02 button {
position: relative;
background-color: #ffffff00;
color: rgb(255, 255, 255);
padding: 10px 0px;
border: none;
font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
cursor: pointer;
overflow: hidden;
font-weight: bold;
}
#heaad02 button::after {
content: "";
position: absolute;
width: 0%;
font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
height: 3px;
background: #ffffff; /* Cor da linha */
transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}
#heaad02 button::after {
bottom: 0;
right: 0;
}
#heaad02 button:hover::after {
width: 100%;
}
#div_cadastro{
margin: auto;
width: 95%;
max-width: 800px;
padding-left: 10px;
display: none;
margin-top: 64px;
margin-bottom: 100px;
padding-bottom: 50px;
}
#div_cadastro h1{
margin-top: 20px;
margin-bottom: 30px;
}
#cadastro select{
width: 50%;
min-width: 200px;
padding: clamp(0.53rem, 0.800vw, 0.100rem) ;
background-color: rgb(233, 240, 255);
color: rgb(32, 32, 32);
cursor: pointer;
font-size: clamp(0.875rem, 1vw + 0.5rem, 0.900rem);
margin-bottom: 10px;
border: 1px solid rgb(223, 222, 222);
border-radius: 5px;
}
#cadastro #input_codigo{
width: 25%;
min-width: 150px;
padding: clamp(0.73rem, 1vw, 0.100rem) ;
background-color: rgb(8, 15, 116);
color: rgb(0, 255, 34);
font-size: clamp(0.875rem, 1vw + 0.5rem, 0.900rem);
font-weight: bold;
}
#inputs input {
width: 90%;
padding: clamp(0.73rem, 1vw, 0.800rem) ;
cursor: pointer;
background-color: rgb(233, 240, 255);
color: rgb(24, 24, 24);
border: 1px solid rgb(223, 222, 222);
border-radius: 7px;
margin-bottom: 10px;
font-size: clamp(0.875rem, 1vw + 0.5rem, 0.900rem);
}
#lbl_sair_lista{
margin-bottom: 28px;
margin-left: 220px;
display: none;
}
#inputs label{
font-size: clamp(0.875rem, 1vw + 0.5rem, 0.900rem);
}
#lbl_sair_Cad,#lbl_sair_procura,#lbl_sair_lista{
 margin-top: 10px;
 font-size: clamp(0.875rem, 1vw + 0.5rem, 0.900rem);
 cursor: pointer;
 font-weight: bold;
}
#lbl_sair_Cad:hover, #lbl_sair_procura:hover, #lbl_sair_lista:hover{
 color: rgb(78, 0, 0);
}
#lbl_sair_procura{
display: none;
margin-bottom: 30px;
}
#div_lista_result{
width: 94%;
max-width: 600px;
padding: 10px;
background-color: #2502be00;
margin-top: 20px;
}
#inputs #LimparCad{
margin-left: 70px;
padding: clamp(0.73rem, 1vw, 0.800rem) ;
max-width: 250px;
border: 0cap;
font-size: clamp(0.875rem, 1vw + 0.5rem, 0.900rem);
background-color: #ffffff00;
cursor: pointer;
font-weight: bold;
}
#inputs #LimparCad:hover{
color: rgb(126, 0, 98);
text-decoration: underline 1px solid blue;
}
#inputs #SalvarCad{
margin-left: 50px;
padding: clamp(0.73rem, 1vw, 0.800rem) ;
min-width: 150px;
border: 1px solid rgb(0, 28, 184);
font-size: clamp(0.875rem, 1vw + 0.5rem, 0.900rem);
background-color: #ffffff00;
cursor: pointer;
font-weight: bold;
border-radius: 5px;
background-color: rgb(228, 243, 255);
color: rgb(36, 3, 219);
margin-top: 30px;
}
#inputs #SalvarCad:hover{
color: rgb(255, 255, 255);
background-color: #2502be;
}
.input_visible{
 display: none;
}
#cadastro #img_apresent{
float: right;
width: 100px;
max-height:110px;
margin-right: 180px;
margin-top: 100px;
padding: 4px;
box-shadow: 0 3px 7px rgba(87, 87, 87, 0.815);
border-radius: 5px;
cursor: pointer;
}
#cadastro #img_apresent:hover{
background-color: #2a00e6;
}
#MG_GIF_DESIGNE{
width: 85%;
border: 2px solid rgba(0, 0, 255, 0.658);
padding: 5px;
border-radius: 5px;
background-color: rgb(255, 255, 255);
margin-left: 10px;
cursor: pointer;
margin-top: 20px;
}
#i_MG_GIF_DESIGNE{
font-size: 28px;
margin-left: 10px;
color: #2a00e6;
margin-bottom: 3px;
margin-right: 5px;
}
#MG_GIF_DESIGNE:hover{
background-color: #2a00e6;
color: #ffffff;
}
#MG_GIF_DESIGNE:hover #i_MG_GIF_DESIGNE{
color: #ffffff;
}
#myProgress{
width: 70%;
background-color:rgb(134, 130, 130);
display: none;
border-radius: 7px;
margin-bottom: 3px;
margin-left: 10%;
}   
#myBar {
width: 1%;
/* Começa com 1% */
height: 20px;
background-color:rgb(47, 0, 177);
text-align: center;
/* Centraliza horizontalmente */
line-height: 15px;
/* Centraliza verticalmente */
color: rgb(255, 255, 255);
border-radius: 5px;
font-weight: bold;
}
#a_visible_img, #aVisible_heaad{
display: none;
}
#cadastro #criaçãoData{
width: 200px;
}
#listas{
margin: auto;
width: 98%;
max-width: 610px;
background-color: rgba(4, 175, 175, 0);
margin-top: 20px;
margin-bottom: 200px;
padding-bottom: 100px;
}
#div1List{
margin-left: 5px;
margin-right: 5px;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
margin-bottom: 20px;
background-color: #f6f8ff;
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.378);
padding: 5px;
border-radius: 5px;
}
#imgList{
width: 70px;
height: 70px;
cursor: pointer;
}
#div1List label,#div1List_ label{
font-size: clamp(0.875rem, 1vw + 0.5rem, 0.900rem);
font-weight: bold;
}
#div1List button,#div1List_ button {
font-size: clamp(0.875rem, 1vw + 0.5rem, 1.25rem);
border: 0cap;
cursor: pointer;
margin-right: 10px;
}
#div1List #botão1List:hover, #div1List_ #botão1List:hover, #div1List_C #botão1List:hover{
color: #2f00ff;
}
#div1List #botão2List:hover, #div1List_ #botão2List:hover, #div1List_C #botão2List:hover{
color: #c50202;
}
#div1List_{
width: 95%;
max-width: 400px;
margin-left: 5px;
margin-right: 5px;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
margin-bottom: 20px;
background-color: #f6f8ff;
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.378);
padding: 5px;
border-radius: 5px;
}
#div1List_C{
width: 95%;
max-width: 390px;
margin-left: 5px;
margin-right: 5px;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
margin-bottom: 20px;
background-color: #f6f8ff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.378);
padding: 5px;
border-radius: 5px;
}
#div1List_C label{
font-size: 12px;
}
#div_lista_result #h3_listResult{
font-size: clamp(0.875rem, 1vw + 0.5rem, 1.25rem);
color: #7e0000;
}
.my-custom_CadExCód{
max-width: 370px;
border-radius: 15px;
background-color: #ffffff;
box-shadow: 0 7px 15px rgba(0, 0, 0, 0.603);
}
.my-custom_CadExCód p{
font-size: 13px;
font-weight: bold;
}
.my-custom_CadExCód input, .my-custom_PesqCódigo input{
width: 80%;
padding: 7px;
border: 2px solid #e0e0e0;
border-radius: 3px;
cursor: pointer;
font-size: 14px;
outline: none;  
}
.my-custom_CadExCód button, .my-custom_PesqCódigo button{
width: 60%;
padding: 7px;
border: 1px solid rgb(233, 233, 233);
background-color: #dce3ff;
border-radius: 3px;
cursor: pointer;
}
.my-custom_CadExCód button:hover, .my-custom_PesqCódigo button:hover{
background-color: #f0efff;
color: #c50202;
border: 1px solid rgb(255, 0, 0);
}
#div_lista_result h3{
margin: 0%;
color: #c50202;
margin-bottom: 10px;
}
.my-custom_PesqCódigo{
max-width: 400px;
box-shadow: 0 7px 15px rgba(0, 0, 0, 0.603);
border-radius: 10px;
}
.my-custom_PesqCódigo h2{
font-size: 22px;
}
.my-custom_{
background-color: #e7ecff00;
}
#div_lista_result{
display: none;
}
#a_REF{
display: none;
}
@media(max-width: 1600px){
#Titulo_heaad{
font-size: 20px;
margin-left: 20px;
}
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 170px;
margin-top: 100px;
}
}
@media(max-width: 1500px){
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 170px;
margin-top: 100px;
}
}
@media(max-width: 1400px){
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 170px;
margin-top: 100px;
}
}
@media(max-width: 1300px){
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 170px;
margin-top: 100px;
}
}
@media(max-width: 1200px){
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 170px;
margin-top: 100px;
}
}
@media(max-width: 1100px){
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 170px;
margin-top: 100px;
}
}
@media(max-width: 1000px){
#lbl_sair_lista{
margin-bottom: 50px;
margin-left: 180px;
}
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 170px;
margin-top: 100px;
}
}
@media(max-width: 900px){
#lbl_sair_lista{
margin-bottom: 50px;
margin-left: 146px;
}
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 170px;
margin-top: 100px;
}
}
@media(max-width: 800px){
#lbl_sair_lista{
margin-bottom: 50px;
margin-left: 90px;
}
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 120px;
margin-top: 100px;
}
#todList select{
width: 220px;
cursor: pointer;
padding: 7px;
background-color: rgb(0, 3, 5);
color: rgb(255, 255, 255);
font-size: 14px;
border-radius: 4px;
margin-left: 20px;
}
}
@media(max-width: 700px){
#lbl_sair_lista{
margin-bottom: 30px;
margin-left: 40px;
}
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 130px;
margin-top: 100px;
}
#todList select{
width: 180px;
cursor: pointer;
padding: 7px;
background-color: rgb(0, 3, 5);
color: rgb(255, 255, 255);
font-size: 14px;
border-radius: 4px;
margin-left: 20px;
}
}
@media(max-width: 600px){
#lbl_sair_lista{
margin-bottom: 50px;
margin-left:30px;
}
#cadastro #img_apresent{
float: right;
width: 100px;
margin-right: 100px;
margin-top: 100px;
}
#todList select{
width: 160px;
cursor: pointer;
padding: 7px;
background-color: rgb(0, 3, 5);
color: rgb(255, 255, 255);
font-size: 14px;
border-radius: 4px;
margin-left: 20px;
}
}
@media(max-width: 500px){
#lbl_sair_lista{
margin-bottom: 30px;
margin-left: 30px;
}
#cadastro #img_apresent{
float: right;
width: 80px;
margin-right: 70px;
margin-top: 120px;
}
#todList select{
width: 145px;
cursor: pointer;
padding: 7px;
background-color: rgb(0, 3, 5);
color: rgb(255, 255, 255);
font-size: 13px;
border-radius: 4px;
margin-left: 20px;
}
}
@media(max-width: 400px){
#lbl_sair_lista{
margin-bottom: 30px;
margin-left: 30px;
}
#cadastro #img_apresent{
float: right;
width: 75px;
margin-right: 55px;
margin-top: 130px;
}
#todList select{
width: 140px;
cursor: pointer;
padding: 7px;
background-color: rgb(0, 3, 5);
color: rgb(255, 255, 255);
font-size: 13px;
border-radius: 4px;
margin-left: 20px;
}
}
@media(max-width: 300px){
#lbl_sair_lista{
margin-bottom: 30px;
margin-left: 25px;
}
#cadastro #img_apresent{
float: right;
width: 70px;
margin-right: 45px;
margin-top: 130px;
}
#todList select{
width: 140px;
cursor: pointer;
padding: 7px;
background-color: rgb(0, 3, 5);
color: rgb(255, 255, 255);
font-size: 15px;
border-radius: 4px;
margin-left: 20px;
}
}
#pdfUpload, #Aguarde,#circulo{
  display: none;
}
#circulo{
width: 20px;
height: 20px;
background-color: rgb(255, 230, 7);
border-radius: 50%;
}
#div_PDF{
margin: auto;
width: 90%;
max-width: 800px;
min-width: 380px;
min-height: 20vh;
background-color: #ffffff;
margin-bottom: 100px;
display: none;
padding-top: 200px;
overflow: auto;
}
#div_PDF ul{
margin-top: 20px;
border-bottom: 2px solid rgba(0, 0, 0, 0.452);
cursor: pointer;
}
#div_PDF ul:hover{
color: #c50202;
}
#div_geral #body{
margin: auto;
width: 97%;
max-width: 1000px;
min-width: 390px;
background-color: #040018;
color: #dce3ff;
}










