*{
margin: 0%;
padding: 0%;
}
body{
font-family: 'Poppins', sans-serif;
background-color: rgb(100, 74, 98);
color: aliceblue;
text-rendering: geometricPrecision;
}
#div_Geral{
width: 100%;
margin: auto;
text-rendering: geometricPrecision;
}
#div_container{
text-rendering: geometricPrecision;
margin: auto;
width: 100%;
max-width: 1920px;
min-height: 70vh;
background-color: rgb(83, 10, 81);

}
::-webkit-scrollbar {
width: 5px;
margin-left: 5px;
/* Largura da barra de rolagem */
cursor: pointer;   
margin: 0px;

}        
::-webkit-scrollbar-thumb {
margin-left: 5px;
background-color: rgb(88, 0, 81);
/* Cor do polegar da barra de rolagem */
margin-top: 1px;
border-radius: 7px;
cursor: pointer;
margin: 0px;
min-height: 17vh; 

}
::-webkit-scrollbar-thumb:hover {
background-color: rgb(148, 0, 136); 
margin: 0px; 
min-height: 17vh; 
    
}       
::-webkit-scrollbar-track {
/* Cor da trilha da barra de rolagem */
margin-left: 5px;    
background-color: rgb(185, 185, 185);
border-radius: 7px;
cursor: pointer;
margin-bottom: 2px;
margin-top: 2px;
margin: 0px;

}
#div_header{
margin: auto;
width: 100%;
max-width: 1920px;
position: fixed;
background-color: rgb(112, 1, 103);
z-index: 999;
font-family: 'Poppins', sans-serif;
}
#header02{
display: flex;
justify-content: space-between;
background-color: rgba(14, 0, 11, 0.603);
padding-top: 14px;
padding-bottom: 14px;
}
#header01{
display: flex;
justify-content: space-between;
padding: 5px;
margin-left: 10px;
padding-top: 7px;
padding-bottom: 7px;
}
#header01 h1{
font-size: 25px;
}
#header02 button,#header01 button{
border: 0cap;
background-color: rgba(240, 248, 255, 0);
color: aliceblue;
cursor: pointer;
margin-left: 20px;
margin-right: 20px;
font-size: clamp(1rem, 1vw + 0.5rem, 1rem);
outline: none;
}
#header02 button:hover, #header01 button:hover{
color: rgb(242, 0, 242);
outline: none;
}
#div_body{
width: 100%;
max-width: 1920px;
min-height: 100vh;
padding-top: 70px;
}
#banner_pesqusa{
margin: auto;
width: 100%;
max-width: 1920px;
background-color: rgba(86, 63, 35, 0);
margin-top: 25px;
}
#banner_pesqusa img{
max-height: 80vh; 
margin-bottom: 10px;
min-height: 13vh;
outline: none;
}
#banner_pesqusa button:hover{
background-color: rgb(238, 0, 255);
color: rgb(0, 25, 0);
outline: none;
}
#banner_pesqusa{
width: 100%;
}
#banner_pesqusa h2{
width: 90%;
text-align: center;
margin-top: 20px;
outline: none;
}
#bannerPesqFlex{
width:96%;
text-align: center;
background-color: rgba(22, 151, 151, 0);
margin-top: 20px;
margin-left: 15px;
}
#bannerPesqFlex select{
width: 45%;
max-width: 300px;
padding: 10px;
margin-right: 10px;
cursor: pointer;
border-radius: 5px;
outline: none;
font-weight: bold;
margin-bottom: 20px;
border: 2px solid rgb(255, 255, 255);
font-size: clamp(0.950rem, 1vw + 0.5rem, 1.070rem);
}
#bannerPesqFlex select option{
cursor: pointer;
background-color: rgb(106, 10, 88);
color: rgb(255, 255, 255);
}
#banner_pesqusa button{
width: 120px;
border-radius: 20px;
padding: 10px;
cursor: pointer;
background-color: rgb(161, 0, 156);
border: 1px solid rgb(97, 38, 58);
color: aliceblue;
outline: none;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.514);
}
#pesq-1{
width: 85%;
max-width: 350px;
min-width: 200px;
padding: 7px;
background-color: rgb(59, 0, 61);
border-radius: 30px;
font-size: 20px;
margin-top: 5px;
color: rgb(255, 255, 255);
font-weight: bold;
cursor: pointer;
border: 3px solid rgba(209, 172, 216, 0.856);
outline: none;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.514);
}
#pesq-1:hover{
color: rgb(255, 255, 255);
background-color: rgb(128, 0, 117);
}
#inputPesquisa{
width: 80%;
padding: 4px;
border: 0cap;
cursor: pointer;
background-color: rgba(255, 255, 255, 0);
font-size: clamp(0.950rem, 1vw + 0.5rem, 1.070rem);
outline: none;
color: rgb(255, 255, 255);
}
#inputPesquisa:hover{
background-color: rgba(175, 175, 175, 0);
}
#labelPesquisa{
font-size: clamp(0.850rem, 1vw + 0.5rem, 0.950rem);
color: rgb(212, 211, 211);
border-radius: 10px;
font-family: 'Poppins', sans-serif;
margin-right: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#body01{
padding-bottom: 50px;
width: 100%;
text-align: center;

}
#body02{
width: 100%;
background-color: rgb(244, 249, 255);
color: rgb(46, 46, 46);
outline: none;
padding-bottom: 50px;
}
#body03{
width: 100%;
background-color: rgb(244, 249, 255);
color: rgb(46, 46, 46);
margin-bottom: 20px;
}
#tituloLista{
margin-left: 1px;
}
#div_footer{
margin: auto;
width: 100%;
max-width: 1920px;
height: 93vh;
background-color: rgb(14, 0, 11);
margin-top: 12px;
}
#resutPesquisa{
margin: auto;
width: 95%;
margin-bottom: 30px;
margin-top: 10px;
font-weight: bold;
display: none;
padding-top: 28px;
}
#i_setPesq,#pesq-1{
font-size: clamp(1rem, 1vw + 0.5rem, 1rem);
cursor: pointer;
font-weight: bold;
outline: none;
}
#i_setPesq:hover{
color: #eaf7ff;
outline: none;
font-weight: bold;
}
.swal2-popup.fullscreen-popup {
width: 95% !important;
max-width:1100px;
min-width: 390px;
padding: 2px !important;
border-radius: 0 !important;
z-index: 99999;
}
#imgSwal{
border-radius: 4px;
}
#btimgSair{
min-width: 20%;
border: 0cap;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.514);
cursor: pointer;
background-color: #7c00cf;
color: aliceblue;
padding: 7px;
border-radius: 7px;
font-size: 15px;
padding-left: 20px;
padding-right: 20px;
}
#btimgSair:hover{
background-color: rgb(155, 0, 160);
}
.my-custom_vibra_Swl {
animation: vibra 0.3s ease-in-out;
border-radius: 12px;
}
.fullscreen-popup{
min-width: 390px;
z-index: 9999;
}

#listPesq img, #listGeral img, #listDestaque img{
width: 100%;
border-radius: 5px;
transition: transform 0.7s ease-in-out;
cursor: pointer;
}
#lbl_1,#lbl_2{
font-size: clamp(0.830rem, 1vw + 0.5rem, 0.830rem);
outline: none;
margin-left: 10px;
text-rendering: geometricPrecision;
color: #180015;
}
#lbl_3,#lbl_4{
text-rendering: geometricPrecision;
font-size: clamp(1rem, 1vw + 0.5rem, 1rem);
margin-left: 20px;
color:  #270022;
font-weight: bolder;
outline: none;
font-family: 'Poppins', sans-serif;
}
#listPesq img:hover,#listGeral img:hover, #listDestaque img:hover {
transform: scale(1.1); /* Ajusta o nível de zoom */
}
#div1_{
overflow: hidden;
margin-bottom: 7px;
text-align: center;
}
#listPesq #li_, #listGeral #li_, #listDestaque #li_{
position: relative;
border: none;
font-size: clamp(0.600rem, 1vw + 0.5rem, 0.600rem);
}
#listPesq #li_::after,#listGeral #li_::after,#listDestaque #li_::after {
content: "";
position: absolute;
width: 0%;
height: 7px;
bottom: 0;
left: 0;
background: #770171; /* Cor da linha */
transition: width 0.5s ease-in-out;
color: rgb(0, 0, 0);
}
#listPesq #li_:hover::after,#listGeral #li_:hover::after,#listDestaque #li_:hover::after {
width: 100%;
}
#div3_{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 20px;
}
#div3_ button {
border: 0cap;
background-color: rgba(1, 44, 44, 0);
font-size: clamp(1.400rem, 1vw + 0.5rem, 1.400rem);
cursor: pointer;
}
#div3_ button:hover{
color: #7c0076;
font-weight: bolder;
}
#div3_  #btn{
width: 33%;
padding: 9px;
border: 0cap;
background-color: #9c009c;;
cursor: pointer;
color: aliceblue;
border-radius: 3px;
font-weight: bold;
font-size: clamp(0.820rem, 1vw + 0.5rem, 0.820rem);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.514);
}
#div3_ #btn:hover{
background-color: #cc00cc;
color: #f2fbff;
}
#div4_{
display: flex;
justify-content: space-around;
align-items: center;
padding: 5px;
margin-bottom: 5px;
margin-top: 18px;
border-top: 3px solid rgb(75, 63, 72);
padding-top: 10px;
padding-bottom: 10px;
}
#div4_ label{
font-size: clamp(1.100rem, 1vw + 0.5rem, 1.100rem);
}
#div2_ #lbl_8{
text-rendering: geometricPrecision;
float: right;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
margin-right: 15px;
background-color: #fffcfc00;
box-shadow: 0 1px 2px rgba(92, 92, 92, 0.514);
color: rgb(124, 0, 97);
border-radius: 3px;
font-size: clamp(0.650rem, 1vw + 0.5rem, 0.700rem);
}
#div2_ #lbl_8:hover{
background-color: #7c00cf;
color: rgb(246, 252, 255);
cursor: pointer;
}
#fecharResultPesq{
margin-bottom: 20px;
cursor: pointer;
font-size: clamp(0.850rem, 1vw + 0.5rem, 0.850rem);
}
#fecharResultPesq:hover{
color: rgb(119, 1, 74);
}
#selectProcura #butoomBuscar{
padding: 12px;
}
#resutPesquisa h1{
margin-top: 1px;
}
#selectProcura #butoomBuscar:hover{
background-color: #a000c0;
color: azure;
border: 2px solid rgb(166, 0, 199);
}
.my-custom_alertlist{
max-width: 300px;
background-color: #860070;
color: #eaf7ff;
border-radius: 10px;
}
.my-custom_alert  h2{
font-size: clamp(1.200rem, 1vw + 0.5rem, 1.400rem);
}
.my-custom_alert{
font-size: clamp(1rem, 1vw + 0.5rem, 1.200rem);
}
.swal2-loader {
border: 7px solid;
border-color: #ff02ea #ff02ea  #ff02ea  transparent; /* azul */
}
.my-custom_compartilhar{
width: 300px;
border-radius: 20px;
}
.my-custom_compartilhar h2{
font-size: 23px;
}
.my-custom_compartilhar button{
width:73%;
padding: 10px;
cursor: pointer;
border-radius: 5px;
border: 0cap;
border-color: rgb(216, 227, 255);
background-color: #e2e0ff;
font-weight: bold;
font-size: 13px;
}
.my-custom_compartilhar button:hover{
background-color: rgb(0, 109, 5);
color: aliceblue;
}
#i_compart{
font-size: 25px;
}
.my-custom_compartilhar i{
font-size: 15px;
font-weight: bold;
}
#P_resutPesquisa{
font-weight: bolder;
background-color: rgba(245, 245, 220, 0);
margin-top: 1px;
margin-bottom: 7px;
}
#P_resutTodosIMV, #P_resutDestaqueIMV{
font-weight: bolder;
margin-left: 10px;
background-color: rgba(245, 245, 220, 0);
margin-top: 1px;
margin-bottom: 7px;

}
#tituloLista{
margin-left: 10px;

}
#sociais_contatos{
margin: auto;
width: 95%;
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 100px;
padding-bottom: 100px;
}
#sociais_contatos a{
text-decoration: none;
color: #b900b9;
font-weight: bold;
}
#sociais_contatos a:hover{
color: #45ad00;
}
#paragrafo_inicial{
margin: auto;
width: 95%;
text-align: center;
}
#footer01,#footer02{
padding-top: 190px;
background-color: rgb(14, 0, 11);
}
#divWhats{
display: flex;
justify-content: center;
align-items: center;
}
.my-custom_login_Swl #i_whats{
color: #028b3b;
font-size: 37px;
font-weight: bold;
}
#imgWhats{
width: 50px;
height: 50px;
padding: 2px;
border: 1px solid rgb(56, 55, 55);
border-radius: 50%;
margin-right: 10px;
cursor: pointer;
margin-bottom: 10px;
}
#btn_whats{
width: 55%;
padding: 10px;
cursor: pointer;
border-radius: 5px;
border: 0cap;
border-color: rgb(229, 236, 255);
background-color: #dce3ff;
}
#btn_whats:hover{
background-color: rgb(0, 141, 7);
color: aliceblue;
}
.my-custom_login_Swl {
max-width: 370px;
border-radius: 30px;
}
.banner{
border-top: 10px solid rgb(138, 0, 119);
border-bottom: 10px solid rgb(88, 0, 77);
}
#MenuIMG{
margin-top: 7px;
}
#menu_lateral {
position: fixed;
top: 89px;
left: -230px;
width: 230px;
height: 100%;
min-height: 30vh;
background-color: #9c019c;
color: white;
transition: left 0rgba(117, 2, 111, 0.957);
z-index: 997;
padding: 0px;
overflow-y: auto;
font-family: 'Poppins', sans-serif;
}
#menu_lateral ul {
list-style: none;
padding: 0;
margin-bottom: 120px;
}
#menu_lateral li {
margin: 20px 0;
}
#menu_lateral a {
color: white;
text-decoration: none;
font-size: 15px;
cursor: pointer;
margin-left: 10px;
}
#menu_lateral a:hover{
color: aqua;
}
#btn_fechar:hover{
color: red;
}
.menu-ativo {
left: 0 !important;
}
#menu_lateral #exitMenu{
color: rgb(223, 149, 231);
font-size: 14px;
font-weight: bold;
}
#menu_lateral #exitMenu:hover{
color: rgb(255, 255, 255);
}
.my-custom_login_SwlADM{
max-width: 370px;
border-radius: 20px;
}
.my-custom_login_SwlADM #enter{
width: 50%;
padding: 10px;
cursor: pointer;
border: 0cap;
background-color: #b900b9;
color: #dce3ff;
border-radius: 7px;
margin-right: 10px;
}
.my-custom_login_SwlADM #enter:hover{
background-color: rgb(0, 177, 9);
color: #ffffff;
}
.my-custom_login_SwlADM #sair_{
width: 20%;
border: 0cap;
color: #7c00cf;
cursor: pointer;
background-color: #dce3ff00;
}
.my-custom_login_SwlADM #sair_:hover{
color: red;
}
.my-custom_login_SwlADM input{
width: 77%;
padding: 10px;
border: 2px solid #b900b9;
background-color: #fae3ff;
color: #140011;
cursor: pointer;
margin-right: 10px;
border-radius: 5px;
}
#supenpesquisa{
margin: auto;
width: 100%;
position: fixed;
background-color: #770171da;
padding: 20px;
padding-top: 90px;
padding-bottom: 50px;
top: 5%;
text-align: center;
z-index: 888;
display: none;
}
#hh2{
width: 100%;
text-align: center;
margin-left: 20px;
}
#imgg{
height: 27vh;

}
@media(max-width: 840px){
#P_resutTodosIMV, #P_resutDestaqueIMV{
font-weight: bolder;
margin-left: 1px;
background-color: rgba(245, 245, 220, 0);
margin-top: 1px;
margin-bottom: 7px;
}
#tituloLista{
margin-left: 1px;
}
#sociais_contatos{
margin: auto;
width: 95%;
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 100px;
padding-bottom: 100px;
}
  #tituloLista{
margin-left: 1px;
}

#banner_pesqusa button{
width: 80%;
}
}
@media(max-width: 600px){
  #imgg{
height: 30vh;

}

#banner_pesqusa button{
width: 90%;
}
}
@media(max-width: 500px){
#banner_pesqusa button{
width: 95%;
margin-right: 12px;
}
}
.fullscreen-popup #imgSwal{
z-index: 9999;
}
#selectProcura select{
background-color: rgb(246, 248, 255);
color: rgb(49, 49, 49);
border-radius: 5px;
margin-right: 12px;
}
#selectProcura select:hover{
background-color: #6d0067;
color: aliceblue;
}
#pcs{
width: 23px;
margin-top: 5px;
margin-right: 5px;
text-rendering: geometricPrecision;
}
#div_listGeral, #div_listDestaque {
display: flex;
align-items: center;
position: relative;
 outline: none;
}
#listGeral, #listDestaque, #listPesq {
margin: auto;
width: 82%;
display: flex;
justify-content: space-around ;
align-items: center;
overflow: auto;
flex-wrap: wrap;
 outline: none;
}
#listGeral #li_, #listDestaque #li_,#listPesq #li_ {
flex: 1 1 20%;
min-width: 330px; /* reduzido para telas menores */
max-width: 330px;
border-radius: 3px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.514);
margin: 15px;
margin-top: 0%;
margin-bottom: 50px;
font-weight: normal;
 outline: none;
}
#divCards{
max-width: 100%;
min-height: 50vh;
 outline: none;
}
#cards{
margin: auto;
width: 90%;
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px;
flex-wrap: wrap;
 outline: none;
}
#cd1,#cd2,#cd3{
 width: 350px;
 cursor: pointer;
 margin-left: 5px;
 margin-right: 5px;
 margin-top: 40px;
 outline: none;

}
#cards div:hover{
  background-color: rgb(240, 240, 240);
}

@media (max-width: 1705px) {
#listGeral, #listDestaque,#listPesq  {
margin: auto;
width: 90%;
display: flex;
justify-content: space-around ;
align-items: center;      /* Ativa rolagem horizontal */
}
}
@media (max-width: 1605px) {
  #cd1,#cd2,#cd3{
 width:300px;
 cursor: pointer;
 margin-left: 5px;
 margin-right: 5px;
 margin-top: 40px;
 outline: none;

 
}

#listGeral, #listDestaque, #listPesq  { 
margin: auto;
width: 95%;
display: flex;
justify-content: space-around ;
align-items: center;      /* Ativa rolagem horizontal */
}
}
@media (max-width: 1405px) {
   #cd1,#cd2,#cd3{
 width:280px;
 cursor: pointer;
 margin-left: 5px;
 margin-right: 5px;
 margin-top: 40px;
 outline: none;
 
}
#listGeral, #listDestaque , #listPesq {  
margin: auto;
width: 97%;
display: flex;
justify-content: space-around ;
align-items: center;      /* Ativa rolagem horizontal */
}
}
@media (max-width: 1005px) {
#listGeral, #listDestaque, #listPesq  {
margin: auto;
width: 98%;
display: flex;
justify-content: space-around ;
align-items: center;      /* Ativa rolagem horizontal */
}
}

/* Estilo para telas menores (tablet e celular) */
@media (max-width: 768px) {
#listGeral, #listDestaque, #listPesq  {
flex-wrap: nowrap;       /* Impede quebra de linha */
overflow-x: auto;  
margin: auto;
width: 99%;
display: flex;
justify-content: space-around ;
align-items: center;      /* Ativa rolagem horizontal */
}
}
#colorh2{
  max-width: 390px;
  padding: 10px;
  margin-left: 3%;
}
#colorh2 h2{
  margin-top: 16px;
  color: #6d0067;
  
}
.banner{
  margin-bottom: 0px;
}
#paragrafo_inicial #h1Footer{
  font-size: clamp(1.500rem, 1vw + 0.5rem, 1.700rem);
}
.estrelas input {
  display: none;
}

.estrelas label {
  color: #ccc;
  cursor: pointer;
     font-size: 4rem;
}


.estrelas input:checked ~ label {
  color: #fc0;
}
#avaliação{
  margin: auto;
  width: 100%;
  max-height: 90vh;
  min-height: 40vh;
  background-color: aliceblue;
  margin-top: 60px;
  padding-top: 50px;
  margin-bottom: 25px;
  padding-bottom: 40px;
  
}
#Stars{
  margin: auto;
  width: 80%;
  max-width: 1000px;
  min-width: 390px;
  text-align: center;
}
#Stars h2{
  color: #818181;
    font-size: clamp(1.700rem, 1vw + 0.5rem, 2rem);
}
#user-info p{
  color: rgb(90, 90, 90);
    font-size: clamp(0.900rem, 1vw + 0.5rem, 1.100rem);
}
#user-info {
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#user-info img{
  max-width: 200px;
  max-height: 200px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;

}
#btnGoogle{
  border: 0cap;
  background-color: #ffffff00;
    cursor: pointer;
    font-size: clamp(1rem, 1vw + 0.5rem, 1rem);
    display: none;
   
}
#user-info  button:hover{
   font-size: clamp(1.100rem, 1vw + 0.5rem, 1.100rem);
}
#i_google{
  font-size: clamp(1.600rem, 1vw + 0.5rem, 1.800rem);
  color: #860070;
}